SECRET_KEY=your_key
DEBUG=true
ALLOWED_HOSTS=[]

# Параметри підключення до Supabase (використовуйте Transaction Pooler)
DB_NAME=postgres
DB_USER=postgres.xxxxxxxxxxxxxxxxxxxx
DB_PASSWORD=your_password
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
